<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form>
        <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Forename" name="forename" [(ngModel)]="model.forename">
            </mat-form-field>
          </p>
          
          <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Surname" name="surname" [(ngModel)]="model.surname">
              </mat-form-field>
            </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" name="email" [(ngModel)]="model.email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="model.password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
          <button [routerLink]="['/auth/login']" mat-button>Login</button>
        <button (click)="register()" mat-button>Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>